header {
  text-align: center;
}

.block {
  background-color: aqua;
  border: 1px solid black;
  display: block;
}

.inline {
  background-color: aqua;
  border: 1px solid black;
  display: inline;
}

.inline-block {
  background-color: aqua;
  border: 1px solid black;
  display: inline-block;
}

.none {
  background-color: aqua;
  border: 1px solid black;
  display: none;
}

.posRelative {
  border: 1px solid slategray;
  margin: 20px;
}

.b1 {
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  left: 200px;
}
.b2 {
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  right: 100px;
}
.b3 {
  background-color: blue;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  right: 100px;
}

.posAbsolute {
  background-color: aqua;
  border: 1px solid black;
  height: 370px;
}

.c1 {
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
  top: 200px;
  left: 200px;
}
.c2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
  left: 100px
}
.c3 {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: relative;
  bottom: 200px;
}

.posFixed {
  background-color: blueviolet;
  display: inline-block;
  position: fixed;
}

.fontss {
  font-size: large;
}

.p1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.p2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.p3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.p5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.p7 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.p8 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.p9 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.p10 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.p11 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.p12 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}