header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  border-bottom: 2px solid pink;
  transition: all 1s;
}

header h1:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  margin: 20px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}
